<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>영화 정보</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #ffffff;
            color: #333;
            display: flex;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            font-size: 36px;
            color: #34495e;
        }
    </style>
</head>
<body>
<h1>영화 정보 관리 메뉴</h1>
</body>
</html>
