<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수영장 목록</title>
</head>
<body>
    <h1>수영장 목록</h1>
    <hr>
    <h5>
        <span id="id">수영장 ID</span>&nbsp&nbsp|&nbsp&nbsp
        <span id="name">수영장 이름</span>&nbsp&nbsp|&nbsp&nbsp
        <span id="lanes">레인 수</span>&nbsp&nbsp|&nbsp&nbsp
        <span id="lane_type">레인 길이</span>&nbsp&nbsp|&nbsp&nbsp
        <span id="phone_number">수영장 전화번호</span>&nbsp&nbsp|&nbsp&nbsp
        <span id="addr">수영장 주소</span>&nbsp&nbsp|&nbsp&nbsp
    </h5>
</body>
</html>