<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gugudan</title>
</head>
<body>
<h1>구구단</h1>
<!--{#num}}{num}}}{/num}}-->
    <div>
    {{#arr}}
        <li>{{.}}</li>
    {{/arr}}
    </div>
</body>
</html>